services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: genea_mailer
    ports:
      - '3000:3000'
    environment:
      NODE_ENV: production
    restart: unless-stopped
